<?php

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__)
    ->exclude('var')
;

return PhpCsFixer\Config::create()
    ->setRiskyAllowed(false)
    ->setRules([
        '@Symfony' => true,
        'array_syntax' => ['syntax' => 'short'],
        '@PSR2' => true,
        'phpdoc_align' => ['align' => 'left'],
        'yoda_style' => null,
        'phpdoc_to_comment' => false,
    ])
    ->setFinder($finder)
;
