# The following sections should be setup via a command
parameters:
    integrations:
        planningCenter:
            x-instructions: "To complete this section you'll need a personal access token from https://api.planningcenteronline.com/oauth/applications"
            authentication:
                applicationId: "{{PlanningCenter Application ID}}"
                secret: "{{PlanningCenter Secret}}"
        google:
            x-instructions: "To complete this section you'll need to create a client for the Directory API from Step 1 at https://developers.google.com/admin-sdk/directory/v1/quickstart/php"
            authentication:
                installed:
                    client_id: "{{Google Client ID}}"
                    project_id: "{{Google Project ID}}"
                    auth_uri: https://accounts.google.com/o/oauth2/auth
                    token_uri: https://oauth2.googleapis.com/token
                    auth_provider_x509_cert_url: https://www.googleapis.com/oauth2/v1/certs
                    client_secret: {{"Google Client Secret"}}
                    redirect_uris:
                        - "urn:ietf:wg:oauth:2.0:oob"
                        - "http://localhost"
            domain: "{{G Suite Domain}}"

    # Add lists to sync below (the names of the Planning Center Lists should match the email of the Google Group).
    lists:
        - list1
