integrations:
    planningCenter:
        x-instructions: "To complete this section you'll need a personal access token from https://api.planningcenteronline.com/oauth/applications"
        authentication:
            applicationId: "{{PlanningCenter Application ID}}"
            secret: "{{PlanningCenter Secret}}"
