<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %} | Contacts Sync</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block navbar %}
            <nav class="navbar" role="navigation">
                <div class="navbar-brand">
                    <a class="navbar-item" href="{{ absolute_url(path('home')) }}">
                        <i class="fad fa-lg fa-id-card"></i>
                        Contacts Sync
                    </a>
                </div>
                <div class="navbar-menu">
                    <div class="navbar-start"></div>
                    <div class="navbar-end">
                        <div class="navbar-item">
                            <div class="buttons">
                                <a class="button is-primary" href="{{ path('login') }}">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://kit.fontawesome.com/1654fad512.js" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
