name: CI

on: [push]

jobs:
    test:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: "8.5"

            - name: Copy parameters file
              run: cp config/parameters.yml.dist config/parameters.yml

            - name: Validate composer.json and composer.lock
              run: composer validate

            - name: Install dependencies
              run: composer install --prefer-dist --no-progress --no-scripts

            - name: Run test suite
              run: vendor/bin/phpunit

    lint:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: "8.5"

            - name: Copy parameters file
              run: cp config/parameters.yml.dist config/parameters.yml

            - name: Install dependencies
              run: composer install --prefer-dist --no-progress --no-scripts

            - name: Check code style
              run: composer run-script cs
